{% extends '__base.html' %} 

{% block title %}Board{% endblock %} 


{% block styles%} 
{{ super() }}

<style>

  a {
    color: green;
  }

  body {
    background-color: #121212;
    text-align: center;
    color: white;

  }

  h1 {
    margin-top: 70px;
    color: white;
    font-size: 100px;
  }


  .container {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
  }
  
  .theme-column {
    background-color: #1f1f1f;
    padding: 20px;
    margin: 20px;
    border: 1px solid green;
    border-radius: 10px;
    width: 300px;
    margin-top: 180px;
    height: 500px;
  }

  .theme-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .task-table {
    border-collapse: collapse;
    width: 100%;
  }

  .task-table th,
  .task-table td {
    border: 1px solid green;
    padding: 10px;
    text-align: left;
  }

  .task-table th {
    background-color: #1f1f1f;
  }

</style>
{% endblock %} 

{% block content %}


<h1>Board</h1>

<h2>Tasks Sorted By Theme</h2>

{% if tasks %}

<div class="container">
  <div class="theme-column">
    <h4 class="theme-header">Education</h4>
    <table class="task-table">
      <tr>
        <th>Title</th>
        <th>Deadline</th>
      </tr>
      {% for task in tasks %} {% if task.theme == 'Education' %}
      <tr>
        <td><a href="/task/{{ task.id }}">{{ task.title }}</a></td>
        <td>{{ task.deadline }}</td>
      </tr>
      {% endif %} {% endfor %}
    </table>
  </div>
  <div class="theme-column">
    <h4 class="theme-header">Fun</h4>

    <table class="task-table">
      <tr>
        <th>Title</th>

        <th>Deadline</th>
      </tr>

      {% for task in tasks %} {% if task.theme == 'Fun' %}

      <tr>
        <td><a href="/task/{{ task.id }}">{{ task.title }}</a></td>

        <td>{{ task.deadline }}</td>
      </tr>

      {% endif %} {% endfor %}
    </table>
  </div>

  <div class="theme-column">
    <h4 class="theme-header">Chores</h4>

    <table class="task-table">
      <tr>
        <th>Title</th>

        <th>Deadline</th>
      </tr>

      {% for task in tasks %} {% if task.theme == 'Chores' %}

      <tr>
        <td><a href="/task/{{ task.id }}">{{ task.title }}</a></td>

        <td>{{ task.deadline }}</td>
      </tr>

      {% endif %} {% endfor %}
    </table>
  </div>
</div>

{% endif %} {% endblock %}
