
{% extends '__base.html' %}

{% block title %}Calendar{% endblock %}

{% block styles %}
    {{ super() }}

    <style>
    </style>
{% endblock %}





    
{% block content %}
  <form class="calendar" action="/calendar" method="post" id="calendar" name="calendar">
    <h1>Calendar</h1>
    <label for="start-date">Start date</label>
    <input
      type="date"
      id="start-date"
      name="start-date"
    />
    <label for="end-date">End date</label>
    <input
      type="date"
      id="end-date"
      name="end-date"
    />
    <button class="apply" type="submit" name="action" value="apply">
      Apply
    </button>
  </form>

  {% if filtered_tasks %}
    <table id="calendar">
      <thead>
        <tr>
          <th>Task</th>
          <th>Deadline</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
      var filtered = {{ filtered_tasks | default([]) | tojson }};
      console.log(filtered);

    function addRows() {
      const tableBody = document.querySelector('#calendar tbody');
      

      for (let task of filtered) {

          let newRow = tableBody.insertRow();


          let cell1 = newRow.insertCell(0);
          let cell2 = newRow.insertCell(1);


          cell1.textContent =  task.title ;
          cell2.textContent = task.deadline ;
      }
  }


  document.addEventListener('DOMContentLoaded', () => {
    addRows();
  });

</script>
{% endblock %}