
{% extends '__base.html' %}

{% block title %}Calendar Dates{% endblock %}

{% block styles %}
    {{ super() }}

    <style>

    </style>
{% endblock %}

{% block content %}
<form class="calendar" action="{{ url_for(calendar_post) }}" method="post">
    <h1>Calendar</h1>
    <label for="start-date">Start date</label>
    <input
      type="date"
      id="start-date"
      name="start-date"
    />
    <label for="end-date">End date</label>
    <input
      type="date"
      id="end-date"
      name="end-date"
      value="{{ date_t }}"
    />
    <button class="apply" type="submit" name="action" value="apply">
      Apply
    </button>
  </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}